{% extends 'base.html.twig' %}

{% block title %}Producto{% endblock %}

{% block body %}
    <h1>Producto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Descipcion</th>
                <td>{{ producto.descipcion }}</td>
            </tr>
            <tr>
                <th>Codigo_barras</th>
                <td>{{ producto.codigoBarras }}</td>
            </tr>
            <tr>
                <th>Precio_compra</th>
                <td>{{ producto.precioCompra }}</td>
            </tr>
            <tr>
                <th>Precio_venta_actual</th>
                <td>{{ producto.precioVentaActual }}</td>
            </tr>
            <tr>
                <th>Stock_minimo</th>
                <td>{{ producto.stockMinimo }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ producto.activo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fecha_creaccion</th>
                <td>{{ producto.fechaCreaccion ? producto.fechaCreaccion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_actualizacion</th>
                <td>{{ producto.fechaActualizacion ? producto.fechaActualizacion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_producto_index') }}">back to list</a>

    <a href="{{ path('app_producto_edit', {'id': producto.id}) }}">edit</a>

    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}
